---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Presentation from "../components/Presentation.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portfolio de Dorian - Desarrollador y Programador Web">
  <main>
    <article class="w-full lg:w-[740px] flex justify-start flex-col">
      <Presentation />
      <Contact />
      <Projects />
      <!-- <Experience /> -->
    </article>
  </main>
</Layout>
