---
import SuitCaseIcon from "../../public/icons/SuitCaseIcon.astro";
import Timeline from "./Timeline.astro";
---

<div id="experiences">
  <h2 class="text-4xl font-semibold pt-16 flex flex-row items-end gap-2">
    <SuitCaseIcon class="size-12" />
    Experiencia
  </h2>
  <Timeline />
</div>
