<span
  class="flex flex-row justify-center items-center transition-all duration-300 hover:ease-in-out hover:bg-white hover:text-neutral-800 font-medium text-xl dark:bg-neutral-800 text-neutral-300 border-2 border-neutral-700 text-md font-sm me-2 px-2.5 py-0.5 rounded-full"
>
  <slot />
</span>
